-- CreateTable
CREATE TABLE "breeds" (
    "weightimperial" VARCHAR(8) NOT NULL,
    "weightmetric" VARCHAR(6) NOT NULL,
    "id" VARCHAR(4) NOT NULL,
    "name" VARCHAR(20) NOT NULL,
    "cfa_url" VARCHAR(58),
    "vetstreet_url" VARCHAR(57),
    "vcahospitals_url" VARCHAR(70),
    "temperament" VARCHAR(97) NOT NULL,
    "origin" VARCHAR(20) NOT NULL,
    "country_codes" VARCHAR(2) NOT NULL,
    "country_code" VARCHAR(2) NOT NULL,
    "description" VARCHAR(454) NOT NULL,
    "life_span" VARCHAR(7) NOT NULL,
    "indoor" INTEGER NOT NULL,
    "lap" INTEGER,
    "alt_names" VARCHAR(83),
    "adaptability" INTEGER NOT NULL,
    "affection_level" INTEGER NOT NULL,
    "child_friendly" INTEGER NOT NULL,
    "dog_friendly" INTEGER NOT NULL,
    "energy_level" INTEGER NOT NULL,
    "grooming" INTEGER NOT NULL,
    "health_issues" INTEGER NOT NULL,
    "intelligence" INTEGER NOT NULL,
    "shedding_level" INTEGER NOT NULL,
    "social_needs" INTEGER NOT NULL,
    "stranger_friendly" INTEGER NOT NULL,
    "vocalisation" INTEGER NOT NULL,
    "experimental" INTEGER NOT NULL,
    "hairless" INTEGER NOT NULL,
    "natural_lvl" INTEGER NOT NULL,
    "rare" INTEGER NOT NULL,
    "rex" INTEGER NOT NULL,
    "suppressed_tail" INTEGER NOT NULL,
    "short_legs" INTEGER NOT NULL,
    "wikipedia_url" VARCHAR(50),
    "hypoallergenic" INTEGER NOT NULL,
    "reference_image_id" VARCHAR(10),
    "cat_friendly" INTEGER,
    "bidability" INTEGER,

    CONSTRAINT "breeds_pkey" PRIMARY KEY ("id")
);

